@use '../styles/utils' as *;

.estate {
  font-weight: 500;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: start;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1 {
        font-size: 36px;
        color: #ff6060;

        @include mobile {
          font-size: 18px;
        }
      }

      p {
        font-size: 18px;
        color: #ff6060;

        @include mobile {
          font-size: 14px;
        }
      }

      .tags {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1rem;

        button {
          background: #ff6060;
          color: #fff;
          border: none;
          border-radius: 10px;
          padding-block: 0.3rem;
          padding-inline: 2rem;
          font-size: 14px;

          @include mobile {
            font-size: 10px;
            border-radius: 5px;
          }
        }
      }
    }

    .about {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      @include mobile {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .host {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
          white-space: pre-line;
          text-align: end;
          font-weight: 500;
          font-size: 18px;
          color: #ff6060;

          @include mobile {
            font-size: 12px;
          }
        }

        svg {
          @include mobile {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .collapses {
    display: flex;
    gap: 5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;

    @include mobile {
      flex-direction: column;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
      gap: 1rem;
    }
  }
}
