@use '../../styles/utils' as *;

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
  padding-block: 2rem;

  @include container;

  @include mobile {
    padding-block: 2rem 0.5rem;
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;

    @include mobile {
      width: 2rem;
      height: 2rem;
    }
  }

  svg:first-child {
    width: 3.5rem;
    height: 3.5rem;

    @include mobile {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
