.header {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin-inline: auto;
  padding-block: 2rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
